@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/keyframes';

* {
	transition: all 0.3s;
}

body {
	@include background-img-config;
	overflow-y: scroll;
	font-family: $font-family;

	.header-main-txt {
		color: $secondary-color;
		-webkit-text-stroke: 1px $third-color;
		font-size: clamp(3rem, 5vw, 6rem);
		font-weight: 900;
		@include header-box-shadow;
	}

	#basic-addon1 {
		color: $dark-color;
		border: none;
		background-color: $secondary-color;
		border: 1px solid $border-color !important;
	}

	.input-group
		> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
			.valid-feedback
		):not(.invalid-tooltip):not(.invalid-feedback) {
		@include reset-borders;
		background-color: $dark-color;
		border: 1px solid $border-color !important;
	}

	.card {
		background-color: $dark-color;
		color: $main-color;
		min-height: 13rem !important;
		border: 1px solid $border-color !important;
		transition: all 0.3s;
		@include card-box-shadow;

		&:hover {
			transform: translateY(-8px);
			cursor: pointer;
			border: 1px solid $border-color !important;
			@include card-box-shadow-hover;
		}

		h2 {
			color: $secondary-color;
		}
	}

	.alert {
		position: relative;
		// top: 90% !important;
		font-size: clamp(0.8rem, 1vw, 1rem);
		animation: shake 0.5s linear;
		width: fit-content !important ;

		svg {
			height: 1.5rem;
		}
	}

	.modal {
		display: block;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
		@include overflow-hidden;
		backdrop-filter: blur(3px);
	}

	.modal-content {
		@include overflow-hidden;
		background-color: $modal-content;
		margin: 15% auto;
		color: $main-color;
		width: 80%;
		min-width: 18rem;
		max-width: 40%;
		@include modal-card-box-shadow;
		animation: modal-animation 0.2s ease-in 1;

		h2 {
			font-size: clamp(1.5rem, 2vw, 2rem) !important;
			border: 1px solid $main-color;
			padding: 0.3rem;
			border-radius: 0.3rem;
		}

		p {
			font-size: clamp(0.9rem, 1vw, 1.5rem) !important;
			line-height: 1.9rem;
		}

		span {
			color: $secondary-color;
			border: 1px solid $dark-color;
			padding: 0.3rem;
			border-radius: 0.3rem;
			font-size: clamp(0.5rem, 1vw, 1rem) !important;
		}
	}

	.close {
		color: $secondary-color;
		border: 1px solid $secondary-color;
	}

	.close:hover,
	.close:focus {
		color: $secondary-color;
		background-color: $dark-color;
		border: 1px solid $dark-color;
		text-decoration: none;
		cursor: pointer;
	}
}
